<div class="area1">
  <img class="img-p" [src]="item.image" alt="">
  <div class="flex-img">

    <img class="img-s" [src]="item.image" alt="">
    <img class="img-s" [src]="item.image" alt="">
  </div>

</div>
<div class="area2">
  <div class="box">

    <div class="info" *ngIf="item">
      <h1>{{ item.nome }}</h1>
      <p><strong>Descrição:</strong> {{ item.descricao }}</p>
      <p><strong>Preço:</strong> {{ item.preco | currency:'BRL' }}</p>
      <p><strong>Quantidade:</strong> {{ item.quantidade }}</p>
      <p><strong>Promoção:</strong> {{ item.promocao ? 'Sim' : 'Não' }}</p>
    </div>
    <div *ngIf="!item">
      <p>Carregando produto...</p>
    </div>

  </div>
</div>
