.container-produto{
  display: flex;
  margin-top: 5vh;
  width: 80%;
  height: 70vh;
  align-items: center;
  justify-content: center;
  margin-left: 10%;
  border: solid 1px rgb(0, 0, 0);
  border-radius: 15px;
  background: white;
}
.area1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  border-radius: 15px 0 0 15px;
  gap: 10px;
}
.area1  .img-p{
  width: 62%;
  border: solid 1px black;
  border-radius: 15px;
}

.area1 .flex-img {
  display: flex;
  gap: 10px;
  margin-left: 18%;
  margin-bottom: 20px;

}
.area1 .flex-img .img-s{
  border: solid 1px black;
  border-radius: 15px;
  width: 18%;
}
.area2 .box .info h1{
  font-size: 2rem;
}
.area2 .box .info .codigo{
  width: 60%;
  height: 50px;
  background: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.area2 .box .info .codigo h2{
  font-size: 1.1rem;

}
.area2{
  width: 50%;
  color: rgb(0, 0, 0);
}

.line{
  display: flex;
  gap: 10px;
}
.area2 .box .info p{
  font-size: 1rem;
  color: rgb(36, 36, 36);
}
.area2 .box .info .item{
  font-size: 0.9rem;
}
.valor-f{
  display: flex;
  flex-direction: column;
}
.original-price {
  text-decoration: line-through;
  color: rgb(0, 0, 0);
}
.preco{
  font-size: 1.3rem;
  font-weight: 500;
}
.area2 .box .info .parcelamento{
  margin-bottom: 8px;
  font-size: 0.8rem;
  color: black;
}
.area2 .box .info .seguro{
  font-size: 0.8rem;
  color: black;
}
/* Estilo para o campo de quantidade */
.area2 .box .info .comprar{
  display: flex;
}
.area2 .box .info .comprar input {
  background: #eeeeee;
  width: 60px;
  padding: 7px 0;

  font-size: 2rem;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Estilo para o botão COMPRAR */
.area2 .box .info .btn {
  padding: 0px 100px;
  background: black;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1.5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}


.area2 .box .info .btn:hover {
  background: #333;
}
.area2 .box .info .tamanho-opcoes {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.area2 .box .info .tamanho-opcoes .btn-tamanho {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: solid 1px;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.area2 .box .info .tamanho-opcoes .btn-tamanho:hover {
  background-color: #000000;
  color: white;
}

.area2 .box .info .tamanho-opcoes .btn-tamanho:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.area2 .box .info .cor-opcoes {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.area2 .box .info .cor-opcoes .btn-cor {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: solid 1px;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.area2 .box .info .cor-opcoes .btn-cor:hover {
  background-color: #000000;
  color: white;
}

.area2 .box .info .cor-opcoes .btn-cor:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
