@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: 'poppins';

}

* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    background-size: cover;
    background-position: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
.navigation{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10vh;
  gap: 30px;

  margin: 0;
  padding: 0;
}
.navigation h1{
  font-size: 32px;
  padding-right: 18%;
  color: white;
}
.navigation a {
    position: relative;
    font-size: 1.1em;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}
.navigation a:hover{
  color: rgb(164, 25, 199);
  text-decoration: underline;
}

.navigation .btnLogin {
    width: 100px;
    height: 50px;
    cursor: pointer;
    font-size: 1.1em;
    margin-left: 40px;
    background: none;
    border: none;
    color: white;
    font-weight: 700;
    letter-spacing: 1px;
}
.navigation .btnLogin:hover {
  color: rgb(164, 25, 199);
  font-size: 1.3rem;
}


.flex{
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}.wrapper {
  display: none; /* Esconde o wrapper completamente */
  margin-top: 50vh;
  position: absolute;
  width: 400px;
  height: 440px;
  background: transparent;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  backdrop-filter: blur(40px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 1);
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: transform 0.2s ease, height 0.2s ease;
}
.icon-close .mat-icon{
  color: white;
  margin: 10px;
  font-weight: 200;
  font-size: 1rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: solid 1px white;
  border-radius: 50%;
  text-align: center;
}
.wrapper.active-popup {
  display: flex; /* Mostra o wrapper quando a classe active-popup é ativada */
  transform: scale(1);
}



.wrapper.active {
    height: 520px;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login {
    transition: transform.18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register {
    transition: transform.18s ease;
    transform: translateX(0);
}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    font-size: 2em;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 5px;
    cursor: pointer;
    z-index: 1;
}

.form-box h2 {
    font-size: 2em;
    color: rgb(255, 255, 255);
    text-align: center;

  }

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid rgb(0, 0, 0);
    margin-bottom: 10px;

}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;

    font-size: 1em;
    color: #ffffff;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1em;
    color: rgb(255, 0, 0);
    line-height: 57px;
}

.remember-forgot {
    font-size: .9em;
    color: rgb(255, 255, 255);
    font-weight: 500;
    margin: -15px 0 15;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: rgb(255, 255, 255);
    margin-right: 3px;
}

.remember-forgot a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: black;
    font-weight: 500;
}

.login-register {
    font-size: .9em;
    color: black;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}
