<div class="header">
  <p>Os melhores produtos estão aqui! Até 20% de desconto.</p>
</div>
<div class="navbar">
  <div class="dados">
    <div class="title">
      <img src="https://ramonsenger.com/assets/icon/TcheGuriblack.png" alt="">
    </div>
    <div class="links">
      <a routerLink="/home">Home</a>
      <a routerLink="/produtos">Produtos</a>
      <a routerLink="/contato">Contato</a>
    </div>
    <div class="login">
      <ng-container *ngIf="isLoggedIn(); else loginLink">
        <a (click)="logout()">Sair</a> <!-- Botão de logout -->
      </ng-container>
      <ng-template #loginLink>
        <a routerLink="/login">Login</a> <!-- Link de login se não estiver logado -->
      </ng-template>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
