<div class="container">
  <div class="row" *ngFor="let item of items">
    <div class="box">
      <div class="box-item" (mouseenter)="onMouseEnter(item)" (mouseleave)="onMouseLeave(item)">
        <!-- Imagem atual do item -->
        <img [src]="currentImage(item)" alt="Imagem do produto">

        <p>{{item.nome}}</p>
        <p class="valor">R$ {{item.preco}}</p>
        <!-- PARCELADO -->
        <p>ou 6x de <strong>R${{ item.preco / 6 | number: '1.2-2' }}</strong> sem juros</p>


        <!-- Exibe a mensagem de promoção se for verdadeira -->
        <p class="promocao" *ngIf="item.promocao">{{item.promocao}}% OFF</p>

        <a [routerLink]="['/produtos', item.id]" class="btn btn-primary">ver item</a>

      </div>
    </div>
  </div>
</div>
