


.container {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.container .row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.container .row .box {
  width: 400px; /* Aumenta a largura da box */
  height: 900px; /* Aumenta a altura da box */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.container .row .box .box-item {
  background: rgb(255, 255, 255);
  border-radius: 15px;
  color: black;
  text-align: center;
  width: 100%; /* Ajusta a largura da box-item para ocupar toda a box */
  height: 70%; /* Ajusta a altura da box-item para ocupar toda a box */
}
.valor{
  background: #EEEEEE;
  margin: 7px 15px;
}

.container .row .box .box-item p {
  font-size: 1.2em;
  padding: 10px;
}

p {
  margin: 0;
}

img {
  display: block; /* Remove o flex pois img não precisa dele */
  width: 100%; /* Ajusta a imagem para 100% da largura da box */
  height: 60%; /* Define a altura da imagem em relação à box */
  object-fit: cover;
  border-radius: 15px 15px 0 0; /* Mantém as bordas arredondadas no topo */
}

.promocao{
  position: absolute;
  margin-left: 15px;
  font-size: 2px;
}
.btn {
  display: block;
  position: absolute;
  width: 19%; /* Ajusta para 80% da largura do box */
  margin: 80px 15px;
  text-align: center;
  background: black;
  padding: 10px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  text-decoration: none;

}

