.container {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.container .row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.container .row .box {
  width: 400px; /* Aumenta a largura da box */
  height: 900px; /* Aumenta a altura da box */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.container .row .box .box-item {
  position: relative; /* Adicionado para que a posição da .promocao seja relativa à .box-item */
  background: rgb(255, 255, 255);
  border-radius: 15px;
  color: black;
  text-align: center;
  width: 100%; /* Ajusta a largura da box-item para ocupar toda a box */
  height: 70%; /* Ajusta a altura da box-item para ocupar toda a box */
}

.valor {
  background: #EEEEEE;
  margin: 7px 15px;
}

.container .row .box .box-item p {
  font-size: 1.2em;
  padding: 10px;
}

p {
  margin: 0;
}

img {
  display: block;
  width: 100%; /* Ajusta a imagem para 100% da largura da box */
  height: 60%; /* Define a altura da imagem em relação à box */
  object-fit: cover;
  border-radius: 15px 15px 0 0; /* Mantém as bordas arredondadas no topo */
}

.promocao {
  position: absolute;
  top: 10px; /* Ajusta para o topo */
  right: 10px; /* Ajusta para o canto direito */
  border-radius: 15px;
  padding: 5px 10px; /* Substitui a largura fixa para ser mais adaptável */
  background: black;
  color: white;
  text-align: center;
  font-size: 0.9rem;
  z-index: 1; /* Garante que a promoção fique sobreposta a outros elementos */
}


.btn {
  display: block;
  position: absolute;
  width: 88%; /* Ajusta para 80% da largura do box */
  margin: 55px 15px;
  text-align: center;
  background: black;
  padding: 10px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  text-decoration: none;

}
.btn:hover {
  background: #333;
}
