


.container {
  margin-top: 105vh;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.container .row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.container .row .box {
  width: 400px; /* Aumenta a largura da box */
  height: 700px; /* Aumenta a altura da box */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.container .row .box .box-item {
  background: rgb(14, 14, 14);
  border-radius: 15px;
  color: white;
  width: 100%; /* Ajusta a largura da box-item para ocupar toda a box */
  height: 70%; /* Ajusta a altura da box-item para ocupar toda a box */
}

.container .row .box .box-item p {
  font-size: 1.2em;
  padding: 10px;
}

p {
  margin: 0;
}

img {
  display: block; /* Remove o flex pois img não precisa dele */
  width: 100%; /* Ajusta a imagem para 100% da largura da box */
  height: 60%; /* Define a altura da imagem em relação à box */
  object-fit: cover;
  border-radius: 15px 15px 0 0; /* Mantém as bordas arredondadas no topo */
}

.btn {
  margin-top: 20px;
  display: block; /* Ajusta o display para block */
  width: 60%; /* Ajusta a largura para 60% */
  text-align: center;
  background-color: #007bff; /* Cor de fundo do botão */
  padding: 10px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  text-decoration: none;
  margin-left: 20%;
}

